<form role="form" action="/add-show" method="POST" name="newShowForm">
    MyAnimeList URL (i.e. https://myanimelist.net/anime/2164/Dennou_Coil): <input type="text" name="showURL" placeholder="URL goes here" autofocus>
    <button type="submit">Add</button>
</form>
