<div>
    <h1>Login to galeforce</h1>
    <br>
    <form role="form" action="/login" method="post" name="loginForm">
        <input type="text" name="username" placeholder="username" autofocus>
        <input type="password" name="password" placeholer="password">
        <button type="submit">Login</button>
    </form>
    <a href="/">Homepage</a>
</div>
